#nav {
    background-color: gray;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

#nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-top: .25rem;
}

#nav a.active {
    color: white;
    
}